.card {
    width: 400px;
    height: 150px;
    background-color: rgb(235 235 235);
    box-shadow: 0 3px 10px 4px black;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__img-pokemom {
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-pokemom {
    width: 100%;
}

.info-pokemom {
    width: 250px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__info-pokemom {
    display: flex;
}

.info-pokemom p{
    font-size: 11px;
    font-weight: 700;
    width: 48%;
}

.container__img-pokemom h3 {
    margin: 0;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
        min-height: 150px;
        height: auto;
        flex-direction: column;
    }
    .info-pokemom p{
        font-size: 10px;
    }
    .container__img-pokemom h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    
}