.container__content {
    width: 1000px;
    min-height: 500px;
    background-color: aliceblue;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}