.container__content {
    width: 50%;
    min-height: 500px;
    background-color: rgb(24, 24, 24);
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .container__content {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .container__content {
        width: 90%;
    }
}